.todayContainer {
    height: var(--content-height);
    margin-right: var(--widget-margin);
}

.calendarContainer {
    height: var(--today-width);
    margin-bottom: var(--widget-margin);
}

.dayScrollArea {
    height: calc(var(--content-height) - var(--widget-margin) - var(--today-width));
}
