.menu {
    width: var(--menu-width);
    height: var(--content-height);
    margin-right: var(--widget-margin);
    background-color: light-dark(var(--widget-background-light), var(--widget-background-dark));
    border-radius: var(--mantine-radius-sm);
}
