.menu {
    width: var(--menu-width);
    height: calc(var(--content-height) - var(--widget-margin) * 2);
    margin-right: var(--widget-margin);
    margin-top: var(--widget-margin);
    border-radius: var(--widget-border-radius);
    background-color: light-dark(var(--widget-background-light), var(--widget-background-dark));

}
