.ResizeHandle {
    width: 5px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    outline: none;
    transition: background-color 0.2s linear;
}

.ResizeHandle[data-resize-handle-active="keyboard"],
.ResizeHandle[data-resize-handle-active="pointer"] {
    background-color: var(--mantine-color-blue-5);
}
.ResizeHandleVertical {
    height: 5px;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    outline: none;
    transition: background-color 0.2s linear;
}

.ResizeHandleVertical[data-resize-handle-active="keyboard"],
.ResizeHandleVertical[data-resize-handle-active="pointer"] {
    background-color: var(--mantine-color-blue-5);
}
@media (pointer: coarse) {
    .ResizeHandle {
        flex: 0 0 1rem;
    }
}
